WCF/WCF Basic/Training.Client/ConsoleClient/Service References/CalculatorService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Contracts" />
  <xs:element name="Addition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="operand" nillable="true" type="q1:Operand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdditionResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subtraction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="operand" nillable="true" type="q2:Operand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubtractionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubtractionResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="operand" nillable="true" type="q3:Operand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiplicationResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Division">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="operand" nillable="true" type="q4:Operand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivisionResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>