WCF/Training.Client/Training.Client/Service References/UserService/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/UserService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Training.Common.BusinessModel" />
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Training.Common.BusinessModel" minOccurs="0" name="userBL" nillable="true" type="q1:UserBusinessModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Training.Common.BusinessModel" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q2:ArrayOfUserBusinessModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>