WCF/Training.Client/Training.Client/Service References/UserService/UserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Training.Common.BusinessModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Training.Common.BusinessModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/UserService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Training.Common" />
  <xs:complexType name="UserBusinessModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Training.Common" minOccurs="0" name="Gender" type="q1:UserGenderEnum" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserBusinessModel" nillable="true" type="tns:UserBusinessModel" />
  <xs:complexType name="ArrayOfUserBusinessModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserBusinessModel" nillable="true" type="tns:UserBusinessModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserBusinessModel" nillable="true" type="tns:ArrayOfUserBusinessModel" />
</xs:schema>